body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0; /* IMPORTANTE! Esse elemento elimina todas as margens da página. Sem ela, fica um espaçamento para todos os cantos da pagina. 
    Ao colocar uma div, por exemplo, ela fica flutuando. */
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 50px;
    padding-top: 10px;
    background-color: white;
    border-bottom: 2px solid #E4E7ED;
}

.logo {
    margin-left: 25%;
    width: 50%;
    align-content: center;
    text-align: center;
}

.box-conteudo {
    background-color: white;
    max-width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.card {
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 3%;
}

.box-shadow-full {
    padding: 3rem 1.25rem;
    position: relative;
    background-color: #fff;
    margin-bottom: 3rem;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
